@use 'src/views/Inventory/Inventory.style' as inventoryStyles;

.inventory-products {
  column-width: 200px;
  column-gap: inventoryStyles.$gap;

  .product {
    max-width: 100%;
    break-inside: avoid;
    margin-bottom: inventoryStyles.$gap;
  }
}