@use 'src/variables' as globalVariables;

.file-uploader-container {

  &.drag-enter {
    border: 2px solid globalVariables.$primary-color;
    border-radius: globalVariables.$standard-border-radius-md;

    .file-uploader {
      color: globalVariables.$primary-color;
    }
  }

  #aia-poss-file-input {
    display: none;
  }

  .file-uploader {
    background-color: globalVariables.$white;
    height: 200px;
    border-radius: globalVariables.$standard-border-radius-md;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: globalVariables.$font-family;
    color: globalVariables.$gray-3;

    #file-upload-icon {
      font-size: 70px;
    }

    .label {
      font-size: globalVariables.$small-2-text;
    }
  }

  .uploaded-file-container {
    border-radius: globalVariables.$standard-border-radius-md;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    
    & > img {
      border-radius: inherit;
      width: 100%;
    }
  }
}
