@use 'src/variables' as globalVariables;

$gap: 15px;

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: globalVariables.$white-2;
  padding: 20px;
  width: 500px;

  .modal-title {
    font-family: globalVariables.$font-family;
    font-size: globalVariables.$large-text;
    font-weight: 700;
    text-align: center;
  }

  .multi-input-container {
    display: flex;
    gap: $gap;

    .input-wrapper {
      width: 50%;
    }

    .input-container {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .input-wrapper {
    
    .input-error-message {
      color: globalVariables.$red;
      font-family: globalVariables.$font-family;
      font-size: globalVariables.$small-2-text;
      margin-left: 5px;
      margin-top: 5px;
      display: inline-block;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}