@use 'src/index.style';
@use 'src/variables' as globalVariables;

$gap: 10px;

.inventory {
  height: 100%;

  .inventory-categories-container,
  .inventory-products-container {
    margin-top: 25px;

    .actions-container {
      padding-bottom: 10px;
    }
  }
}