@use 'src/variables' as globalVariables;

.empty-state {
  background-color: globalVariables.$white;
  border-radius: globalVariables.$standard-border-radius-md;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    font-family: globalVariables.$font-family;
  }
}