@use 'src/variables' as globalVariables;

.auth,
.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: globalVariables.$gray-2;

  .auth-form-container, 
  .auth-form-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: globalVariables.$white;
    border-radius: globalVariables.$standard-border-radius-md;

    .input-container,
    input {
      background-color: globalVariables.$gray-2;

    }

    .input-error-message {
      color: globalVariables.$red;
      font-family: globalVariables.$font-family;
      font-size: globalVariables.$small-2-text;
      margin-left: 5px;
      margin-top: 5px;
      display: inline-block;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    a {
      font-size: globalVariables.$medium-1-text;
      cursor: pointer;
      text-align: center;
      font-family: globalVariables.$font-family;
    }
  }
}