@use '../../variables' as globalVariables;

.input-container {
  background-color: globalVariables.$white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  gap: 5px;
  height: 40px;
  border-radius: 10px;

  &.focus {
    border: 2px solid globalVariables.$primary-color;
  }

  .icon-container {
    width: 20px;
    height: 20px;
    position: relative;
    color: globalVariables.$black;
    
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  input {
    border: none;
    flex-grow: 1;
    font-size: globalVariables.$small-2-text;
    color: globalVariables.$black;

    &:focus {
      outline: none;
    }
  }
}