@use 'src/variables' as globalVariables;

.modal {
  background: globalVariables.$transparent-black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .modal-content-container {
    background: globalVariables.$white;
    border-radius: globalVariables.$standard-border-radius-md;
    width: fit-content;
    padding: 20px;
  }
}
