@use '../../poppins.style';
@use '../../variables' as globalVariables;

.primary-button {
  font-family: 'Poppins', sans-serif;
  background-color: globalVariables.$primary-color;
  color: globalVariables.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: globalVariables.$standard-border-radius;
  padding: 10px;
  border: none;
  cursor: pointer;


  &:active {
    background-color: globalVariables.$secondary-color;
  }

  .icon-container {
    width: 20px;
    height: 20px;
    
    svg {
      width: 100%;
      height: 100%;
    }
  }
}