/*
  |-------------------------------------------------------
  | THESE ARE THE STANDARDS
  |-------------------------------------------------------
*/

// Colors
$primary-color: #AE76F8;
$secondary-color: #DEC5FF;
$white: #ffffff;
$red: #FC2C2C;
$super-light-red: #FFEAEA;
$green: #007922;
$super-light-green: #C2FFC8;
$yellow-orange: #AE9200;
$super-light-yellow-orange: #FEFFDB;

// Borders
$standard-border-radius-md: 10px;
$standard-border-radius-sm: 5px;

// Font Sizes
$large-text: 20px;
$medium-2-text: 16px;
$medium-1-text: 14px;
$small-2-text: 12px;
$small-1-text: 10px;