/*
  |-------------------------------------------------------
  | THESE ARE THE STANDARDS
  |-------------------------------------------------------
*/

// Colors
$primary-color: #AE76F8;
$secondary-color: #DEC5FF;
$white: #ffffff;

// Borders
$standard-border-radius: 10px;