@use 'src/index.style';
@use 'src/variables' as globalVariables;

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;

  span {
    font-family: globalVariables.$font-family;
    font-size: globalVariables.$medium-2-text;
    font-weight: 400;
  }

  // Views
  &.success {
    background-color: globalVariables.$super-light-green;

    span {
      color: globalVariables.$green;
    }
  }

  &.danger {
    background-color: globalVariables.$super-light-red;

    span {
      color: globalVariables.$red;
    }
  }

  &.warning {
    background-color: globalVariables.$super-light-yellow-orange;

    span {
      color: globalVariables.$yellow-orange;
    }
  }
}